.wx__switch_component {
  label {
    color: #1F1F1F;
    font-size: 14px;
  }
  span {
    font-weight: 600;
  }
  .disabled {
    opacity: 0.5;
  }
}
.form-switch{
  position: relative;
  .form-check-input::after{
    content: attr(unchecked-value);
    position: absolute;
    left: 43.33px;
    top: -1.3px;
  }
  .form-check-input:checked::after{
    content: attr(checked-value);
    position: absolute!important;
    left: 43.33px;
    top: -1.3px;
    color: #595959!important;
  }
}