@import './variables';


// mixins for buttons
@mixin buttons(
  $display: inline-flex,
  $align_items: center,
  $justify_content: center,
  $background: $primary__500,
  $hoverBackground: $primary__600,
  $border: null,
  $color: $neutral__100,
  $hoverColor: $neutral__100,
  $padding: 9.5px 24px,
  $borderRadius: 4px,
) {
  @if $border != null {
    border: $border;
  } @else {
    border: none;
  }
  display: $display;
  align-items: $align_items;
  justify-content: $justify_content;
  color: $color;
  background: $background;
  border-radius: $borderRadius;
  padding: $padding;
  &:hover {
    background: $hoverBackground;
    color: $hoverColor;
  }
}

