.footer-section{
	.footer{
		border-top: 1px solid #C7C7C7;
		border-bottom: 1px solid #C7C7C7;
		padding: 24px 0;
		ul{
			li{
				a{
					padding: 4px 0;
					margin-bottom: 4px;
				}
			}
		}
	}
	.copy-right{
		margin-top: 26px;
		padding-left: 0;
	}
}